<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.ujiuye.prometion.controller"/>
    <!--  加载db.properties  -->
    <context:property-placeholder location="classpath:file.properties"/>

    <!--  上传文件的配置  -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 通过属性来规范上传文件的信息 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <!-- 上传文件的最大字节数 -->
        <property name="maxUploadSize" value="5000000"></property>
    </bean>

    <mvc:annotation-driven conversion-service="dateConveter">
        <mvc:message-converters register-defaults="true">
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes" value="application/json"/>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteDateUseDateFormat</value>
                        <value>DisableCircularReferenceDetect</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 配置全局日期类型转器 -->
    <bean id="dateConveter" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <!-- 这里写自定义的转换工具类 -->
                <bean class="com.ujiuye.prometion.utils.DateConverter" />
            </list>
        </property>
    </bean>


    <!--  开放静态资源  -->
    <mvc:default-servlet-handler/>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ujiuye.prometion.utils.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    <!--  默认值处理器映射器和处理器适配器是不支持注解，所以要手动开启支持注解  -->
<!--    <mvc:annotation-driven />-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/html/" />
    </bean>

</beans>
