<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujiuye.prometion.mapper.CustomerMapper">

    <resultMap id="baseResultMap" type="Customer">
        <id property="id" column="id"/>
        <result property="name" column="name" />
        <result property="companyperson" column="companyperson" />
        <result property="address" column="address" />
        <result property="phone" column="phone" />
        <result property="camera" column="camera" />
        <result property="present" column="present" />
        <result property="remark" column="remark" />
        <result property="addtime" column="addtime" />
    </resultMap>
    <select id="list" resultMap="baseResultMap">
        select * from customer
    </select>

</mapper>